body{
    overflow: scroll;
    background-image: url(https://i.pinimg.com/originals/46/5e/b9/465eb915ed1fa9eae64c7108f01775e1.gif);
    /* background-size:cover; */
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 10%;
}

