section{ 
    min-height: calc(450px*6);
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    @media only screen and (max-width: 600px) {
        margin-left: -50%;
        min-height: calc(1000px);
    }
}

.prize{
    position: relative;
    width: 150px;
    bottom: 500px;
    left: 200px;
    @media only screen and (max-width: 600px) {
        left: 10px;
        bottom: 100px;
        width: 70px;
    }
}
.prize2{
    position: relative;
    width: 150px;
    bottom: 900px;
    left: 300px;
    @media only screen and (max-width: 600px) {
        left: 50px;
        bottom: 300px;
        width: 70px;
    }
}
.prize3{
    position: relative;
    width: 150px;
    bottom: 1400px;
    left: 600px;
    @media only screen and (max-width: 600px) {
        left: 100px;
        bottom: 500px;
        width: 70px;
    }
}
.box{
    position: relative;
    width: 150px;
    bottom: 2200px;
    left: 800px;
    @media only screen and (max-width: 600px) {
        left: 200px;
        bottom: 850px;
        width: 70px;
    }
}
