<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
     <!-- <div class="stairs">
        <div class="base"> </div>
            <div class="step" style = "--j:1";>
                <i></i>
                <i></i>
            </div>
            <div class="step" style = "--j:2";>
                <i></i>
                <i></i>
            </div>
            <div class="step" style = "--j:3";>
                <i></i>
                <i></i>
            </div>
            <div class="step" style = "--j:4";>
                <i></i>
                <i></i>
            </div>
            <div class="step" style = "--j:5";>
                <i></i>
                <i></i>
            </div>
            <div class="step" style = "--j:6";>
                <i></i>
                <i></i>
        </div>
     </div> -->
     <img id="image" width="50" height="70" src="./chibi-cat.png" />
     <svg width="500px" height="500px" class="area">
        <rect id="object1" x="10" y="10" width="20" height="20" fill="black" />
      </svg>
<script>
    const ctx = canvas.getContext('2d');
    var img = document.getElementById("image");
    
img.addEventListener('keyup',(event)=>{

})
// Simple keyboard handler
let object1Size = {
  width: 20,
  height: 20
};
let position = {
  x: 10,
  y: 10
};
let moveRate = 10;
let object1 = document.getElementById("object1");
function updateYPosition(distance) {
  position.y = position.y - distance;
// Update y-axis position at the edge.
  if (position.y < 0) {
    position.y = 499;
  } else if (position.y > 499) {
    position.y = 0;
  }
}
// Update x-axis position.
function updateXPosition(distance) {
  position.x = position.x + distance;
  // Update x-axis position at the edge.
  if (position.x < 0) {
    position.x = 499;
  } else if (position.x > 499) {
    position.x = 0;
  }
}
function refreshPosition() {
  let x = position.x - (object1Size.width/2);
  let y = position.y - (object1Size.height/2);
  let transform = "translate(" + x + " " + y + ")";

  object1.setAttribute("transform", transform);
}
window.addEventListener("keydown", function(event) {
  if (event.defaultPrevented) {
    return;
  }
  if (event.code === "ArrowDown"){
      // Handle "down"
      updateYPosition(-moveRate);
  } else if (event.code === "ArrowUp"){
      // Handle "up"
      updateYPosition(moveRate);
  } else if (event.code === "ArrowLeft"){
      // Handle "left"
      updateXPosition(-moveRate);
  } else if (event.code === "ArrowRight"){
      // Handle "right"
      updateXPosition(moveRate);
  }
  refreshPosition();
  event.preventDefault();
}, true);
window.focus()
</script>
    </body>
</html>