$size: 80px;
$size2:450px;
$stepBeforeColor2: #6ff6f6;
$stepAfterColor2: hsl(189, 84%, 50%);
$stepIcolor2:#02c5e7;

:root{
    --j:1
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
min-height: calc(450px*6);
background: radial-gradient(#eac4ff, #9e57c5);
overflow: hidden;
}
.gift{
    position: relative;
    width: 250px;
    bottom: calc(60px  * 19);
    left: calc(55px*20)
}
.prize{
    position: absolute;
    width: 150px;
    bottom: calc(-80px  * 11);
    left: calc(80px*6.5)
}

.stairs{
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(40deg);
}
@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg)
        rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg)
        rotateY(360deg);
    }
}

.stairs .step{
    position: absolute;
    left:calc(80px*var(--j));
    bottom: 0;
    width: $size;
    height: calc(80px*var(--j));
    transform-style: preserve-3d;
    &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size2;
    background: $stepBeforeColor2;
    transform: rotateX(90deg)
    translateZ($size2/2);
    }
    &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $size2;
    height: $size;
    background: $stepAfterColor2;
    transform: rotateY(90deg)
    translateZ(-$size2/2);
    }
    i{
    position: absolute;
    display: block;
    width: $size;
    height: 100%;
    background: $stepIcolor2;
    transform-style: preserve-3d;
    }
    i:nth-child(1)
    {
    transform: translateZ($size2/2);
    }
    i:nth-child(2)
    {
    transform: translateZ(-$size2/2);
    }
}


.con {
    position: relative;
    text-align: center;
    color: black;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    }
  }

.live{
    width:85px;
    cursor: pointer;
    border: 0;
}
.live-taskDone{
    width:80px;
    cursor: pointer;
}

