
import { useFrame, useLoader } from '@react-three/fiber'
import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader'
import { Canvas } from "@react-three/fiber";
import { OrbitControls } from "@react-three/drei";
import { Scene } from 'three';
const GltfModel = ({ modelPath, scale = 1, position = [0, 1, 0] }) => {
    const ref = useRef();
    const gltf = useLoader(GLTFLoader, modelPath);
    const [hovered, hover] = useState(false);
  
    // Subscribe this component to the render-loop, rotate the mesh every frame
    useFrame((state, delta) => (ref.current.rotation.y += 0.007));
    return (
      <>
        <primitive
          ref={ref}
          object={gltf.scene}
          position={position}
          scale={hovered ? scale * 2 : scale}
          onPointerOver={(event) => hover(true)}
          onPointerOut={(event) => hover(false)}
        />
      </>
    );
  };
export const ModelViewer = ({ modelPath, scale = 1, position = [0, 0, 0] }) => {
    return (
      <Canvas>
        <ambientLight />
        <spotLight />
        <pointLight />
        <Suspense fallback={null}>
          <GltfModel modelPath={modelPath} scale={scale} position={position} />
          <OrbitControls />
        </Suspense>
      </Canvas>
    );
  };
  <ModelViewer
  ref={catRef} 
  style={
   springProps
   }
  modelPath={"./scene.gltf"} />